@charset "utf-8";
/* CSS Document */

/*头部box1*/

.box_t{height:37px;border-top:3px solid #00925f;background:#2b2b2b;position:relative;}
.box_t a{display:block;}
.xinlang{background:url(../img/icons.png)no-repeat -264px 0;width:24px;height:24px;position:relative;left:77px;top:6px;}
.tengxun{background:url(../img/icons.png)no-repeat -314px 0;width:24px;height:24px;position:relative;left:110px;position:relative;left:110px;top:6px;}
.xinlang:hover{background:url(../img/icons.png)no-repeat -264px -28px;width:24px;height:24px;}
.tengxun:hover{background:url(../img/icons.png)no-repeat -314px -28px;width:24px;height:24px;}
.num{color:#00925f;font-weight:bold;font-size:16px;position:relative;left:146px;top:9px;}
.box_t li{padding-right:20px;}
.box_t a{color:#b2b2b2;}
.box_t a:hover{color:#fff;}
.box_t ul{padding-right:60px;}
.buy{width:22px;height:22px;background:url(../img/icons.png)no-repeat 0 -1010px;position:relative;top:-17px;right:116px;}
.gang1{background:url(../img/gang1.gif)no-repeat;position:absolute;top:8px;right:66px;width:1px;height:27px;background:#b2b2b2;}

/*box2*/

.box_t2{height:85px;border-bottom:3px solid #ddd;}
.box_t2 h1{background:url(../img/icons.png)no-repeat;width:170px;height:28px;position:relative;top:32px;left:75px;text-indent:-999em;}
.box_t2 li{font-size:14px;font-weight:bold;padding-left:40px;}
.box_t2 ul{padding-right:58px;padding-top:39px;}
.box_t2 a:hover{color:#00925f;}

/*box3*/

.box_3{height:621px;border-top:3px solid #e1e1e1;border-bottom:1px solid #b2b2b2;background:url(../img/bj.jpg)repeat-x center 0;position:relative;}

.box_3 .opa{background:#fff;opacity:0.5;filter:alpha(opacity:50);width:100%;height:70px;position:absolute;bottom:0;}
.box_3 a{background:url(../img/icons.png)no-repeat -255px -928px;width:16px;height:16px;}
.box_3 .quan{position:absolute;bottom:30px;left:634px;}
.box_3 .quan1{position:absolute;bottom:30px;left:659px;}
.box_3 .quan2{position:absolute;bottom:30px;left:684px;}
.box_3 a:hover{background:url(../img/icons.png)no-repeat -278px -927px;width:17px;height:17px;}
.bj2{position:absolute;left:450px;top:165px;}
.gang{position:absolute;left:76px;top:620px;}

/*box4*/

.box_4{height:798px;background:#f2f2f2;position:relative;}
.bj3{background:url(../img/icons.png)no-repeat 0 -700px;width:290px;height:100px;position:absolute;top:45px;left:520px;}
.box_4 .star_box{width:1180px;height:797px;padding-top:172px;margin:0 auto;}
.box_4 .none{width:290px;height:565px;position:relative;padding-left:9px;margin-right:-20px;}
.box_4 .star{width:290px;height:565px;position:relative;padding-left:9px;border-right:1px solid #eaeaea;}
.box_4 .bobo{width:280px;height:560px;border-bottom:5px solid #dfdfdf;}
.box_4 h4{font-size:20px;font-weight:bold;text-align:center;padding-top:43px;padding-bottom:8px;}
.box_4 .con{color:#b4b4b4;line-height:26px;padding-left:79px;}
.box_4 .price{color:#00925f;line-height:26px;padding-left:85px;}
.jiao{background:url(../img/icons.png)no-repeat -175px -1012px;width:17px;height:15px;position:absolute;left:186px;bottom:28px;}

/*box5*/

.box5{height:1070px;background:#f6f6f6;position:relative;}
.bj4{background:url(../img/accessory.jpg)no-repeat;position:absolute;top:26px;left:454px;width:392px;height:87px;}

.box5_l{width:580px;height:875px;margin-top:140px;margin-left:76px;}
.box5_r{width:580px;height:880px;margin-top:140px;margin-left:20px;}
.box5_lt{width:580px;height:580px;}
.box5_lb{width:580px;height:270px;background:#fff;border-bottom:5px solid #e1e1e1;margin-top:20px;}
.box5_lb img{padding:24px 0 22px 20px;}
.box5_lb .sjx{padding-top:65px;}
.box5_lt_l{width:280px;height:575px;background:#fff;border-bottom:5px solid #e1e1e1;}
.box5_lt_l img{padding:24px 20px 0;}
.hui a{color:#868686;}
.hui{text-align:center;padding-top:30px;}
.shui a{color:#565656;}
.shui{font-size:20px;text-align:center;padding-top:12px;font-weight:bold;}
.green a{color:#048d5f;}
.green{font-size:16px;text-align:center;padding-top:15px;}
.box5_lt_r1{width:270px;height:270px;border:5px solid #e1e1e1;background:#fff;margin-left:20px;}
.box5_lt_r2{width:280px;height:270px;background:#fff;margin-left:20px;margin-top:20px;border-bottom:5px solid #e1e1e1;}
.box5_lt_r2 img{padding:24px 20px 0;}
.box5_lt_r1_h{width:210px;height:43px;border-bottom:1px solid #e6e6e6;margin-left:30px;margin-top:15px;}
.bj5{width:192px;height:35px;background:url(../img/icons.png)no-repeat -415px -716px;width:192px;height:35px;}
.box5_lt_r1_c{width:210px;height:126px;border-bottom:1px solid #e6e6e6;margin-left:30px;margin-top:24px;}
.box5_lt_r1_c li{width:91px;height:22px;padding-bottom:15px;}
.box5_lt_r1_c li a{padding-left:26px;line-height:22px;}
.bj61{width:18px;height:22px;background:url(../img/icons.png)no-repeat -133px -353px;}
.bj62{width:18px;height:22px;background:url(../img/icons.png)no-repeat -133px -390px;}
.bj63{width:18px;height:22px;background:url(../img/icons.png)no-repeat -133px -427px;}
.bj64{width:18px;height:22px;background:url(../img/icons.png)no-repeat -246px -353px;}
.bj65{width:18px;height:22px;background:url(../img/icons.png)no-repeat -246px -390px;}
.bj66{width:18px;height:22px;background:url(../img/icons.png)no-repeat -246px -428px;}
.bj61:hover{background:url(../img/icons.png)no-repeat -372px -353px;}
.bj62:hover{background:url(../img/icons.png)no-repeat -372px -390px;}
.bj63:hover{background:url(../img/icons.png)no-repeat -372px -427px;}
.bj64:hover{background:url(../img/icons.png)no-repeat -485px -353px;}
.bj65:hover{background:url(../img/icons.png)no-repeat -485px -390px;}
.bj66:hover{background:url(../img/icons.png)no-repeat -485px -428px;}

.box5_lt_r1_b{width:210px;height:60px;margin-left:102px;margin-top:22px;}
.yjiao{background:url(../img/icons.png)no-repeat -175px -1012px;width:17px;height:17px;}
.box5_lt_r1_b .yja{display:block;width:17px;height:17px;}
.shhui{font-size:18px;text-align:center;padding-top:12px;}
.shhui a{color:#555;}


.box5_rt{width:580px;height:275px;background:#fff;border-bottom:5px solid #e1e1e1;}
.box5_rt .vooc{padding:105px 42px;}
.shuis{font-size:26px;text-align:center;padding-top:12px;font-weight:bold;}
.shuis a{color:#565656;}
.box5_rb_l{width:280px;height:575px;background:#fff;border-bottom:5px solid #e1e1e1;margin-top:20px;}
.box5_rb_l img{padding:29px 22px 0 18px;}
.box5_rb_r1{width:280px;height:275px;background:#fff;margin-left:20px;margin-top:20px;border-bottom:5px solid #e1e1e1;}
.box5_rb_r2{width:280px;height:275px;background:#fff;margin-left:20px;margin-top:20px;border-bottom:5px solid #e1e1e1;}

/*box6*/

.box6{height:750px;background:#eaeaea;border-top:3px solid #d9d9d9;position:relative;}
.bj6{background:url(../img/icons.png)no-repeat -700px -701px;position:absolute;top:26px;left:454px;width:392px;height:87px;}
.box_66{width:1180px;height:560px;margin:130px auto 0;}
.ul_l{width:780px;height:560px;}
.ul_l li{width:380px;height:265px;border-bottom:5px solid #dde1e1;margin-right:20px;}
.ul_l .fu{margin-right:-20px;}
.ul_l .mt{margin-top:20px;}
.ul_r{width:380px;height:558px;background:#fff;margin-left:20px;}
.ul_r .ul_rt{width:190px;height:48px;border-top:2px solid #00925f;background:#dadada;font-size:18px;text-align:center;line-height:48px;margin-bottom:35px;}
.ul_rt:hover{background:#fff;}
.ul_r .fff{background:#fff;}
.ul_rb{width:320px;height:90px;background:#f6f6f6;margin:0 30px 15px 28px;}
.ul_rb img{display:block;}
.ul_rb p{padding-top:15px;padding-left:115px;}
.ul_rb a{color:#838383;line-height:18px;}

/*尾部*/
.footer{height:366px;background:#fff;}
.bj7{background:url(../img/icons.png)no-repeat -244px -540px;width:1180px;height:118px;margin:7px auto 0;}
.border{height:125px;border-bottom:1px solid #eaeaea;}
.bj9{background:url(../img/icons.png)no-repeat -695px -359px;width:13px;height:69px;position:relative;left:76px;top:64px;}
.bj10{background:url(../img/icons.png)no-repeat -880px -359px;width:15px;height:100px;position:relative;left:76px;top:64px;}

.list{width:1180px;height:240px;margin:0 auto;position:relative;}
.guan{background:url(../img/icons.png)no-repeat -324px -1012px;width:18px;height:67px;position:absolute;top:44px;left:-15px;}
.tui{background:url(../img/icons.png)no-repeat -701px -986px;width:18px;height:93px;position:absolute;top:44px;left:182px;}
.gou{background:url(../img/icons.png)no-repeat -701px -986px;width:18px;height:93px;position:absolute;top:44px;left:380px;}
.huiy{background:url(../img/icons.png)no-repeat -324px -1012px;width:18px;height:67px;position:absolute;top:44px;left:578px;}
.list1{width:82px;height:114px;padding-top:22px;margin-right:116px;}
.tit a{font-size:14px;font-weight:bold;padding-top:8px;padding-bottom:14px;}
.list1 dd a{line-height:28px;}

.xin{background:url(../img/icons.png)no-repeat 0 -853px;width:19px;height:19px;position:absolute;top:40px;right:398px;}
.xin:hover{background:url(../img/icons.png)no-repeat -145px -853px;width:19px;height:19px;position:absolute;top:40px;right:398px;}
.teng{background:url(../img/icons.png)no-repeat -1px -881px;width:19px;height:19px;position:absolute;top:70px;right:398px;}
.teng:hover{background:url(../img/icons.png)no-repeat -145px -882px;width:19px;height:19px;position:absolute;top:70px;right:398px;}
.ren{background:url(../img/icons.png)no-repeat 0 -909px;width:19px;height:19px;position:absolute;top:100px;right:398px;}
.ren:hover{background:url(../img/icons.png)no-repeat -145px -909px;width:19px;height:19px;position:absolute;top:100px;right:398px;}
.qq{background:url(../img/icons.png)no-repeat -1px -938px;width:19px;height:19px;position:absolute;top:126px;right:398px;}
.qq:hover{background:url(../img/icons.png)no-repeat -145px -938px;width:19px;height:19px;position:absolute;top:126px;right:398px;}

.list2{height:114px;padding-top:20px;}
.lianxi{font-size:14px;font-weight:bold;padding-top:8px;padding-bottom:14px;}
.ph{background:url(../img/icons.png)no-repeat -756px -812px;width:40px;height:38px;position:absolute;top:66px;right:158px;}
.on{background:url(../img/icons.png)no-repeat -830px -812px;width:40px;height:38px;position:absolute;top:136px;right:158px;}
.hei{padding-left:50px;}
.hei .p1{font-size:20px;color:#409f73;line-height:40px;}
.hei .p2{line-height:20px;}

/*end*/
.end_box{height:70px;background:#2b2b2b;border-top:5px solid #000;margin:0 auto;}
.end_box p{padding-left:197px;padding-top:14px;color:#828282;}
.bj8{width:100px;height:15px;background:url(../img/icons.png)no-repeat -439px 0;position:relative;top:28px;left:77px;}
.service a{color:#e2e2e2;padding-right:40px;}
.service{padding-right:36px;padding-top:14px;}









